.App {
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.navbar-start {
  align-items: center;
  margin: 0;
}

.header-custon {
  color: rgb(102, 255, 0);
  width: 100%;
}

.login-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 12%;
}

.form-login {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  min-width: 500px;
}

.input{
  min-width: 490px;
}

.home {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.field {
  align-items: center;
  display: inline-flex;
}

.btn-filter {
  align-self: flex-end;
  flex-direction: column;
}

.box-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.endpoints-information {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}

.endpoints-information h1{
  display: flex;
  height: auto;
  margin-left: 35px;
  padding-top: 20px;
  width: 100%;
}

.endpoints-display {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.endpoint-item {
  background-color: Gainsboro;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 130px;
  margin: 3px;
  min-height: 130px;
  min-width: 110px;
  padding-top: 5px;
  width: 110px;
  word-wrap: break-word;
}

.livre {
  background-color:#00FF40;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  color: black;
  height: 130px;
  flex-wrap: nowrap;
  margin: 3px;
  min-height: 130px;
  min-width: 110px;
  overflow: hidden;
  text-align: center;
  width: 110px;
  word-wrap: break-word;
}

.ip {
  font-size: x-small;
}

.ocupado {
  background-color: coral;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  color: white;
  height: 130px;
  margin: 3px;
  min-height: 130px;
  min-width: 110px;
  overflow: hidden;
  text-align: center;
  width: 110px;
  word-wrap: break-word;
}
.report-page {
  text-align: center;
}

h2 {
  color:#424242;
  font-size: large;
  font-weight: 600;
  margin-top: 15px;
}

h1 {
  color: #6E6E6E;
  font-size: x-large;
  font-weight: 800;
  margin-top: 15px;
}

.calls-information {
  width: 100%;
}

.chart-calls-atended {
  margin-left: 15px;
  margin-top: 15px;
  max-width: 49%;
  min-height: 300px;
  min-width: 49%;
}

.charts-screem {
  display: flex;
  width: 98%;
}

.filter-buttom {
  margin: 3px;
}

.date-input {
  max-width: 200px;
}

.card-content {
  max-width: 98%;
}

.icons-endpoints {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icon {
  text-decoration: none;
}

.loading {
  margin-left: 40%;
}
